<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • Todos</title>
		<link rel="stylesheet" href="assets/css/base.css">
		<link rel="stylesheet" href="assets/css/index.css">
	</head>
	<body ng-app="index" ng-controller="indexCtrl">
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" ng-keyup="addList($event)" ng-model="val" placeholder="What needs to be done?" autofocus>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
        <!--这里的input控制全选反选 复选框对应的ng-model的值是布尔值true 或者 false-->
				<input class="toggle-all" type="checkbox" ng-model="status" ng-change="changeListStatus()">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li ng-class="{'completed':item.isCompleted,'editing':item.isEditing}" ng-repeat="item in listArr | filter:{'isCompleted':condition}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="item.isCompleted" ng-change="updateStatus()">
              <!--显示任务列表明细的显示框-->
              <!--为什么这里label的值改变时，可以实时改变listArr里面name对应的数据-->
							<label ng-dblclick="modifyListName(item)">{{item.name}}</label>
              <!--destrory是删除按钮-->
							<button class="destroy" ng-click="deleteList(item)"></button>
						</div>
            <!--双击label标签才会显示的编辑框-->
						<input class="edit" value="Create a TodoMVC template" ng-model="item.name" ng-blur="cancelEditing(item)" ipt-focus>
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer" ng-if="listArr.length !=0">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{unCompletedListNum()}}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a ng-class="{'selected':isActive == 'All'}" ng-click="filterList('All')" href="#/">All</a>
					</li>
					<li>
						<a ng-class="{'selected':isActive == 'Active'}" ng-click="filterList('Active')" href="#/active">Active</a>
					</li>
					<li>
						<a ng-class="{'selected':isActive == 'Completed'}" ng-click="filterList('Completed')" href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" ng-click="clearCompletedList()">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="assets/js/index.js"></script>
	</body>
</html>
